{% extends 'base.html.twig' %}
{% block content %}
<html>
<head>
    <script>
jQuery(function($) {
    $('#gouvernoratservice').blur(function () {
        $('#delegationservice').empty();
        $.ajax({
            url: "/Fixit/web/app_dev.php/service/delegation",
            type: "POST",
            dataType: "json",
            data: {
                "gouvernorat": $("#gouvernoratservice option:selected").val()
            },
            async: true,
            success: function (data) {
                var obj = data.delegation;
                for (i in obj) {
                    if (obj.hasOwnProperty(i)) {
                        $('#delegationservice').append("<option value='" + obj[i].idAdresse + "'>" + obj[i].Libelle + "</option>");
                    }
                }
            }
        })
    });
    $('#filtreservice').click(function () {
        $("#filtreservice").toggle(false);
        $("#tousservices").toggle(true);
        $("#filtretitre").toggle(true);
        $("#filtregroupe").toggle(true);
    })
    $('#tousservices').click(function () {
        $("#filtreservice").toggle(true);
        $("#tousservices").toggle(false);
        $("#filtretitre").toggle(false);
        $("#filtregroupe").toggle(false);
        $('#tableservice0 > tbody').empty();
        $('#tableservice1 > tbody').empty();
        $('#tableservice2 > tbody').empty();
        $.ajax({
            url: "/Fixit/web/app_dev.php/service/recherche",
            type: "POST",
            dataType: "json",
            data: {
                "idutilisateur" : $("#idutilisateur").val(),
                "titreservice" : '',
                "categorieservice" : -1,
                "gouvernoratservice" : -1,
                "delegationservice" : -1
            },
            async: true,
            success: function (data) {
                var obj0 = data.service0;
                var obj1 = data.service1;
                var obj2 = data.service2;
                RemplirTableaux($('#tableservice0 > tbody'),obj0);
                RemplirTableaux($('#tableservice1 > tbody'),obj1);
                RemplirTableaux($('#tableservice2 > tbody'),obj2);
            }
        });
        $("#titreservice").text('');
        $("#categorieservice option:selected").val(-1);
        $("#etatservice option:selected").val(-1);
        $("#gouvernoratservice option:selected").val(-1);
        $("#delegationservice option:selected").val(-1);
    })
    $('#appliquerservice').click(function () {
        $('#tableservice0 > tbody').empty();
        $('#tableservice1 > tbody').empty();
        $('#tableservice2 > tbody').empty();
        $.ajax({
            url: "/Fixit/web/app_dev.php/service/recherche",
            type: "POST",
            dataType: "json",
            data: {
                "idutilisateur" : $("#idutilisateur").val(),
                "titreservice" : $("#titreservice").val(),
                "categorieservice" : $("#categorieservice option:selected").val(),
                "gouvernoratservice" :$("#gouvernoratservice option:selected").val(),
                "delegationservice" : $("#delegationservice option:selected").val()
            },
            async: true,
            success: function (data) {
                var obj0 = data.service0;
                var obj1 = data.service1;
                var obj2 = data.service2;
                RemplirTableaux($('#tableservice0 > tbody'),obj0);
                RemplirTableaux($('#tableservice1 > tbody'),obj1);
                RemplirTableaux($('#tableservice2 > tbody'),obj2);
            }
        });
        $("#titreservice").text('');
        $("#categorieservice option:selected").val(-1);
        $("#etatservice option:selected").val(-1);
        $("#gouvernoratservice option:selected").val(-1);
        $("#delegationservice option:selected").val(-1);
    })

    })

        function RemplirTableaux(tab,obj) {
            for (i in obj) {
                if (obj.hasOwnProperty(i)) {
                    tab.append(
                        "<tr>" +
                        "<td align='center'>" + obj[i].TitreService + "</td>" +
                        "<td align='center'>" + obj[i].CategorieService + "</td>" +
                        "<td align='center'>" + obj[i].PrixService + "</td>" +
                        "<td align='center'>" + new Date(obj[i].DateCreationService.date).getDate() + "/" +
                        +(new Date(obj[i].DateCreationService.date).getMonth() + 1)
                        + "/" + new Date(obj[i].DateCreationService.date).getFullYear() + "</td>" +
                        "<td align='center'>" + obj[i].GouvernoratService + " : " + obj[i].DelegationService + "</td>"+
                        "</tr>"
                    );
                }
            }
        }
    </script>
</head>
<body>
    <div class="col-sm-3 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <input type="text" value="{{ app.user.id }}" id="idutilisateur"  disabled hidden>
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary" id="filtreservice">Filtrer</button>
                        <button type="button" class="btn btn-primary" id="tousservices" hidden>Afficher tous les services</button>
                    </div>
                    <div class="col-lg-12" id="filtretitre" hidden>
                        <h4><b>Filtres de recherches :</b></h4>
                    </div>
                    <div class="col-lg-12" id="filtregroupe" hidden>
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <div class="form-group" >
                                    <label>Titre du Service :</label>
                                    <input class="form-control" placeholder="Le titre du service" id="titreservice">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Catégorie du service :</label>
                                    <select class="form-control" id="categorieservice">
                                        <option value="-1"  disabled data-align="center" selected>Veuillez choisisr la catégorie du service</option>
                                        {% for c in categorie %}
                                            <option value="{{ c.id }}">{{ c.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Gouvernorat :</label>
                                    <select class="form-control" id="gouvernoratservice">
                                        <option value="-1"  disabled data-align="center" selected>Veuillez choisisr le gouvernorat</option>
                                        {% for g in gouvernorat %}
                                            <option value="{{ g.idAdresse }}">{{ g.Libelle }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Délegation :</label>
                                    <select class="form-control" id="delegationservice">
                                        <option value="-1"  disabled data-align="center" selected>Veuillez choisisr la délegation</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary" id="appliquerservice">Appliquer</button>
                                </div>
                            </div>
                        </div>
                        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Liste des Services Actifs</div>
                <div class="panel-body">
                    <div class="col-lg-12">
                    <form role="form">
                        <table class="table " id="tableservice1" >
                            <thead>
                                <th><div class="th-inner" align="center">Titre</div></th>
                                <th><div class="th-inner" align="center">Catégorie</div></th>
                                <th><div class="th-inner" align="center">Prix</div></th>
                                <th><div class="th-inner" align="center">Date d'ajout</div></th>
                                <th><div class="th-inner" align="center">Adresse</div></th>
                                <th><div class="th-inner" align="center"></div></th>
                                <th><div class="th-inner" align="center"></div></th>
                            </thead>
                            <tbody>
                            {% for s0 in service0 %}
                                <tr>
                                    <td align='center'>{{ s0.TitreService }}</td>
                                    <td align='center'>{{ s0.CategorieService.nom }}</td>
                                    <td align='center'>{{ s0.PrixService }}</td>
                                    <td align='center'>{{ s0.DateCreationService |date('d/m/Y') }}</td>
                                    <td align='center'>{{ s0.GouvernoratService.libelle ~ " : " ~ s0.DelegationService.libelle }}</td>
                                    <td align='center'><a class="btn btn-primary btn-md"href="{{ path("service_modifierpage",{'idservice':s0.IDService}) }}">Modifier</a></td>
                                    <td align='center'><a class="btn btn-primary btn-md" href="{{ path("service_desactiverpage",{'idservice':s0.IDService,'Type' : 1}) }}">Désactiver</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Liste des Services en attente d'approbation</div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <form role="form">
                                <table class="table " id="tableservice0" >
                                    <thead>
                                    <th><div class="th-inner" align="center">Titre</div></th>
                                    <th><div class="th-inner" align="center">Catégorie</div></th>
                                    <th><div class="th-inner" align="center">Prix</div></th>
                                    <th><div class="th-inner" align="center">Date d'ajout</div></th>
                                    <th><div class="th-inner" align="center">Adresse</div></th>
                                    <th><div class="th-inner" align="center"></div></th>
                                    <th><div class="th-inner" align="center"></div></th>
                                    </thead>
                                    <tbody>
                                    {% for s1 in service1 %}
                                        <tr>
                                            <td align='center'>{{ s1.TitreService }}</td>
                                            <td align='center'>{{ s1.CategorieService.nom }}</td>
                                            <td align='center'>{{ s1.PrixService }}</td>
                                            <td align='center'>{{ s1.DateCreationService |date('d/m/Y') }}</td>
                                            <td align='center'>{{ s1.GouvernoratService.libelle ~ " : " ~ s1.DelegationService.libelle }}</td>
                                            <td align='center'><a class="btn btn-primary btn-md" href="{{ path("service_modifierpage",{'idservice':s1.IDService}) }}">Modifier</a></td>
                                            <td align='center'><a class="btn btn-primary btn-md" href="{{ path("service_desactiverpage",{'idservice':s1.IDService,'Type' : 1}) }}">Désactiver</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            <div class="panel panel-default">
            <div class="panel-heading">Liste des Services Inactif
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <form role="form">
                        <table class="table " id="tableservice2" >
                            <thead>
                            <th><div class="th-inner" align="center">Titre</div></th>
                            <th><div class="th-inner" align="center">Catégorie</div></th>
                            <th><div class="th-inner" align="center">Prix</div></th>
                            <th><div class="th-inner" align="center">Date d'ajout</div></th>
                            <th><div class="th-inner" align="center">Adresse</div></th>
                            <th><div class="th-inner" align="center"></div></th>
                            <th><div class="th-inner" align="center"></div></th>
                            </thead>
                            <tbody>
                            {% for s2 in service2 %}
                                <tr>
                                    <td align='center'>{{ s2.TitreService }}</td>
                                    <td align='center'>{{ s2.CategorieService.nom }}</td>
                                    <td align='center'>{{ s2.PrixService }}</td>
                                    <td align='center'>{{ s2.DateCreationService |date('d/m/Y') }}</td>
                                    <td align='center'>{{ s2.GouvernoratService.libelle ~ " : " ~ s2.DelegationService.libelle }}</td>
                                    <td align='center'><a class="btn btn-primary btn-md"href="{{ path("service_modifierpage",{'idservice':s2.IDService}) }}">Modifier</a></td>
                                    <td align='center'><a class="btn btn-primary btn-md" href="{{ path("service_desactiverpage",{'idservice':s2.IDService,'Type' : 2 }) }}">Activer</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
{% endblock %}