{% extends 'base.html.twig' %}
{% block content %}
<body>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="panel panel-default chat">
    <div class="panel-heading" id="accordion">
        <svg class="glyph stroked calendar blank"><use xlink:href="#stroked-calendar-blank"/></svg>Demandes
    </div>
    <div class="panel-body">
        {% for i in demandes %}
            <ul>
                <li class="left clearfix">
								<span class="chat-img pull-left">
									<a href="{{ asset('./img/' ~ i.photo )}}">
                                        <img src="{{ asset('./img/' ~ i.photo )}}" class="img-circle"  height="80" width="80">
								    </a>
                                </span>

                    <div class="chat-body clearfix">

                            <div class="header">
                                <strong class="primary-font">{{ i.iduser.username }}</strong> <small class="text-muted">{{ i.date|date("Y-m-d H:i:s") }}</small>
                            </div>
                        <p>
                            {{ i.dis }}<br>
                            prix : {{ i.prix }}<br>
                            adresse : {{ i.address }}
                        </p>
                    </div>
                </li>
            </ul>
    <!-- lst commentaire par demande -->
    <button id="{{ i.id ~ '0' }}" class="btn btn-primary">Afficher les commentaires</button>
    <button id="{{ i.id ~ '1' }}"  class="btn btn-default" hidden >Masquer les commentaires</button>
    <a href="{{ path('traitement_demande',{'id':i.id}) }}"> <button  class="btn btn-danger">Demande de traitement</button></a>
    <div id="{{ i.id ~ '2' }}" hidden>
        <form action="{{ path('add_com') }}">
            <br>
            {% for k in coms %}
                {% if k.idobjet == i.id %}
                    {% for j in users %}
                         {% if k.iduser == j.id %}

                    <div class="alert bg-primary" role="alert">
                        <svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg><label>{{ j.username ~' : ' }}</label>
                        {{k.valeur }} </span></a>
                        {% if k.iduser == app.user.id %}
                            <a href="{{ path('supprimer_com',{'idcom':k.idcom}) }}" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>

                         {% endif %}
                    </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <table>
                <tr>
                    <td width="1200px">
                        <textarea class="form-control" name="value" required autofocus></textarea>
                    </td>
                    <td width="20px"></td>
                    <td>
                        <input type="submit" value="Envoyer" class="btn btn-primary">
                    </td>
                </tr>
            </table>
            <input type="text" name="iddem" hidden value="{{ i.id }}">
            <input type="text" name="iduser" hidden value="{{ app.user.id }}">
            <br>
        </form>
    </div>
                <script>
                    $('#{{ i.id ~ '0' }}').click(
                        function () {
                            $('#{{ i.id ~ '2' }}').show();
                            $('#{{ i.id ~ '0' }}').hide();
                            $('#{{ i.id ~ '1' }}').show();
                        }
                    );

                    $('#{{ i.id ~ '1' }}').click(
                        function () {
                            $('#{{ i.id ~ '2' }}').hide();
                            $('#{{ i.id ~ '0' }}').show();
                            $('#{{ i.id ~ '1' }}').hide();
                        }
                    );

                </script>

        {% endfor %}
        </div>

</div>
</div>
</body>
{% endblock %}