{% extends 'base.html.twig' %}
{% block content %}
    <body>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="panel panel-default">
        <div class="panel-heading">
            <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg>
            {{ demande.cat.nom}} | Demande #{{ demande.id }}
        </div>
        <div class="panel-body">
            <form action="{{ path('repense_demande',{'iddem':demande.id,'iduser':app.user.id})}}">
            <table border="0">
                <tr>

                    <td width="400px" rowspan="4">
                        <span class="chat-img pull-left">
                            <a href="{{ asset('./img/' ~ demande.photo )}}">
                                <img src="{{ asset('./img/' ~ demande.photo )}}" class="img-circle"  height="300" width="300">
                            </a>
                        </span>
                    </td>
                    <td width="550px" colspan="2">
                        <textarea class="form-control" disabled>{{ demande.dis }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td width="10px">
                        <br>
                        <p>Prix : </p>
                    </td>
                    <td>
                        <input type="text" value="{{ demande.prix }}" disabled class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <p> Adresse : </p>
                    </td>
                    <td>
                        <input type="text" value="{{ demande.address.Libelle }}" disabled class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <p> Contact :  </p>
                    </td>
                    <td>
                        <input type="text" value="{{ demande.contact }}" disabled class="form-control">
                    </td>
                </tr>

                </table>
                <table>
                    <tr>
                        <td colspan="2">
                            <br>
                            <br>
                            <p>Reponse sur la demande</p>
                        </td>
                    </tr>
                <tr>
                    <td width="1200px">
                        <textarea class="form-control" autofocus required name="rep" id="text"></textarea>
                    </td>
                    <td width="30px">
                    </td>
                    <td>
                        <br>
                        <input type="submit" value="Reponse" class="btn btn-primary" id="rep">
                    </td>
                </tr>
                    <tr>
                        <td>
                            <div id="msg" {{ msg }}>
                            <br>
                            <div class="alert bg-success" role="alert">
                                <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg>
                                <a href="#" class="pull-right" id="close"><span class="glyphicon glyphicon-remove"></span></a>
                                Merci {{ app.user.username }} pour votre repense.<br><br>
                                Veuillez attendre la validation de {{ demande.iduser.username }} pour la demande #{{ demande.id }}<br><br>

                            </div>
                            </div>
                        </td>
                    </tr>
                </table>
                </form>
        </div>
    </div>
</div>

<script>
    $('#close').click(
        function () {
            $('#msg').hide( "slow");
        }
    );

</script>

</body>

{% endblock %}